* {
    margin: 0%;
    padding: 0%;
}

body {
    display: grid;
    grid-template-rows: 70px 1fr 70px   ;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70px 1fr 70px;
    align-items: center;
    background-color: rgb(207, 63, 183);
    border: 1px solid rgb(199, 24, 190)
}


button {
    grid-column: 3 / 4;
}

footer {
    height: 30px;
    align-items: end;
    text-align: center;
    display: grid;
    background-color: rgb(187, 14, 173);    
}

main {
    background-color: #f2d0e0;
    display: grid;
    padding-top: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
}
   
nav {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}

footer#rodape {
    color: white;
    text-align: center;
    padding: 40px 0;
}

.bolo-favorito {
      width: 100%;
    height:100px;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 10px 10px;
    
  }

  .home {
    color: black;
    text-align: center;
    padding: 40px 0;
   

  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    
}

.container-bolos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-rows:1fr 1fr;
}

.itemmm {
  
    background-color: darkgray;
    height: 50vw;
    width: 100vh;
    border: solid 2px;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 150px;
    display: flex;
}

.bolo1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#bolo {

    height: 90px;
    width: 80px;
}


.casinha
.produtos
.carrinho
.perfil
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}